body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('./brightSky.jpg');
    background-size: cover;
    background-position: center;
    color: black; 
  }
.weatherContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('./brightSky.jpg');
  }
  
  .searchContainer {
    margin-bottom: 20px;
    display: inline-block;
  }
  
  input {
    padding: 8px;
    margin-right: 8px;
  }
  
  button {
    padding: 8px 12px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: greenyellow;
  }
  
  .weather-info {
    text-align: center;
  }
  
  img {
    max-width: 100px;
    margin-top: 10px;
  }
  